<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/add">New Message</a>
<br />
<br />

<form action="#"
      th:action = "@{/process}"
      th:object = "${message}"
      method = "post">
    <input type = "hidden" th:field="*{id}" />
    Message <input type="text" th:field="*{content}"  />
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span>         <br /> <br />
    Sent by <input type ="text" th:field = "*{sentby}" />
    <span th:if="${#fields.hasErrors('sentby')}"
          th:errors="*{sentby}"></span>  <br /> <br />
    Date <input type="text" th:field="*{posteddate}" />
    <span th:if="${#fields.hasErrors('posteddate')}"
          th:errors="*{posteddate}"></span> <br /> <br />

    <br />
    <input type ="submit" value="Submit" />

</form>

</body>
</html>